<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mds.my.platform.lostandfound.project.system.mapper.SysCommentMapper">
  <resultMap id="BaseResultMap" type="com.mds.my.platform.lostandfound.project.system.domain.entity.SysComment">
    <!--@mbg.generated-->
    <!--@Table sys_comment-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="tag_id" jdbcType="INTEGER" property="tagId" />
    <result column="views" jdbcType="INTEGER" property="views" />
    <result column="message_num" jdbcType="INTEGER" property="messageNum" />
    <result column="agree_num" jdbcType="INTEGER" property="agreeNum" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column=" status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    t.id, t.user_id, t.content, t.tag_id, t.views, t.message_num, t.agree_num, t.create_time, t.is_delete,
    t.`status`
  </sql>

  <!--获取留言列表-->
  <select id="findAll" resultType="com.mds.my.platform.lostandfound.project.system.domain.vo.CommentVO">
    select <include refid="Base_Column_List"></include>
    ,su.nick_name,su.avatar
    from sys_comment t
    left join sys_user su on su.id = t.user_id
    <where>
      <if test="comment !=null and comment !=''">
        and t.comment like concat('%',#{comment},'%')
      </if>
      <if test="nickName !=null and nickName !=''">
        and su.nick_name like concat('%',#{nickName},'%')
      </if>
      <if test="endTime !=null and endTime !=''">
        and date_format(t.create_time,'%Y-%M-%d')  >= date_format(#{endTime},'%Y-%M-%d')
      </if>
      <if test="beginTime !=null and beginTime !=''">
        and date_format(#{beginTime},'%Y-%M-%d') >= date_format(t.create_time,'%Y-%M-%d')
      </if>
      and t.is_delete = 0
    </where>
    order by t.create_time desc
  </select>

  <!--获取留言列表-->
  <select id="findMyAll" resultType="com.mds.my.platform.lostandfound.project.system.domain.vo.CommentVO">
    select <include refid="Base_Column_List"></include>
    <where>
      <if test="comment !=null and comment !=''">
        and t.comment like concat('%',#{comment},'%')
      </if>
      <if test="endTime !=null and endTime !=''">
        and date_format(t.create_time,'%Y-%M-%d')  >= date_format(#{endTime},'%Y-%M-%d')
      </if>
      <if test="beginTime !=null and beginTime !=''">
        and date_format(#{beginTime},'%Y-%M-%d') >= date_format(t.create_time,'%Y-%M-%d')
      </if>
      and t.is_delete = 0 and t.user_id = #{userId}
    </where>
    order by t.create_time desc
  </select>
</mapper>