<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mds.my.platform.lostandfound.project.system.mapper.SysDictDataMapper">
  <resultMap id="BaseResultMap" type="com.mds.my.platform.lostandfound.project.system.domain.entity.SysDictData">
    <!--@mbg.generated-->
    <!--@Table sys_dict_data-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="dict_label" jdbcType="VARCHAR" property="dictLabel" />
    <result column="dict_value" jdbcType="VARCHAR" property="dictValue" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="dict_type" jdbcType="VARCHAR" property="dictType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_user" jdbcType="INTEGER" property="createUser" />
    <result column="update_user" jdbcType="INTEGER" property="updateUser" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, sort, dict_label, dict_value, `status`, dict_type, create_time, update_time, 
    create_user, update_user
  </sql>

  <!--数据字典列表-->
  <select id="findAll" resultType="com.mds.my.platform.lostandfound.project.system.domain.vo.DictDataVO">
    select sdd.id,sdd.sort,sdd.dict_label,sdd.dict_value,sdd.create_time,
    sdd.update_time,sdd.status,su.nick_name as createUserName,sdd.status,
    su1.nick_name as updateUserName,sdy.dict_name as dictTypeName
    from sys_dict_data sdd
    left join sys_dict_type sdy on sdy.id = sdd.dict_type
    left join sys_user su on su.id = sdd.create_user
    left join sys_user su1 on su1.id = sdd.update_user
    <where>
       <if test="dictType !=null and dictType !=''">
         and sdd.dict_type = #{dictType}
       </if>
      <if test = "dictLabel !=null and dictLabel !=''">
        and sdd.dict_label like concat('%',#{dictLabel},'%')
      </if>
      <if test="status !=null and status !=''">
        and sdd.status = #{status}
      </if>
      <if test="beginTime !=null and beginTime !=''">
        and date_format(sdd.create_time,'%Y-%m-%d') >= date_format(#{beginTime},'%Y-%m-%d')
      </if>
      <if test="endTime !=null and endTime !=''">
        and date_format(#{endTime},'%Y-%m-%d') >= date_format(sdd.create_time,'%Y-%m-%d')
      </if>
    </where>
    order by sdd.sort desc,sdd.create_time desc
  </select>
</mapper>