<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mds.my.platform.lostandfound.project.system.mapper.SysGoodsMapper">
  <resultMap id="BaseResultMap" type="com.mds.my.platform.lostandfound.project.system.domain.entity.SysGoods">
    <!--@mbg.generated-->
    <!--@Table sys_goods-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="goods_title" jdbcType="VARCHAR" property="goodsTitle" />
    <result column="goods_content" jdbcType="LONGVARCHAR" property="goodsContent" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="lose_time" jdbcType="TIMESTAMP" property="loseTime" />
    <result column="cover_image" jdbcType="VARCHAR" property="coverImage" />
    <result column="status" jdbcType="BOOLEAN" property="status" />
    <result column="goods_type" jdbcType="INTEGER" property="goodsType" />
    <result column="views" jdbcType="INTEGER" property="views" />
    <result column="message_num" jdbcType="INTEGER" property="messageNum" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="is_delete" jdbcType="BOOLEAN" property="isDelete" />
    <result column="topping" jdbcType="BIT" property="topping" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="linkman" jdbcType="VARCHAR" property="linkman" />
    <result column="goods_status" jdbcType="VARCHAR" property="goodsStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, goods_name, goods_title, goods_content, create_time, lose_time, cover_image, 
    `status`, goods_type, views, message_num, user_id, is_delete, topping, phone, linkman,goods_status
  </sql>

  <!--保存你物品 详情图-->
  <insert id="saveImages" parameterType="java.util.List">
    insert into sys_goods_image
    <trim prefix="(" suffix=")" suffixOverrides=",">
      goods_id,image_path
    </trim>
    VALUES
    <foreach collection="images" index="index" item="image" separator=",">
      (#{id},#{image.imagePath})
    </foreach>
  </insert>

  <!--查找物品列表-->
  <select id="findAll" resultType="com.mds.my.platform.lostandfound.project.system.domain.vo.GoodsVO">
    SELECT sg.id,sg.goods_name,sg.cover_image,sg.topping,sg.goods_title,sg.goods_type,sg.create_time,ifnull(sg.message_num,0) as messageNum,ifnull(sg.views,0) as views,sg.`status`,su.avatar,su.nick_name,sdd.dict_label,sg.user_id
    FROM sys_goods sg
    LEFT JOIN sys_dict_data sdd on sdd.id = sg.goods_type
    left JOIN sys_user su on sg.user_id = su.id
    <where>
      <if test="goodsTitle !=null and goodsTitle !=''">
        and sg.goods_title like concat('%',#{goodsTitle},'%')
      </if>
      <if test="goodsType !=null and goodsType !=''">
        and sg.goods_type = #{goodsType}
      </if>
      <if test="goodsStatus !=null and goodsStatus !=''">
       and sg.goods_status = #{goodsStatus}
      </if>
      and sg.status = 1 and sg.is_delete = 0
    </where>
  </select>
</mapper>