<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mds.my.platform.lostandfound.project.system.mapper.SysNoticeMapper">
  <resultMap id="BaseResultMap" type="com.mds.my.platform.lostandfound.project.system.domain.entity.SysNotice">
    <!--@mbg.generated-->
    <!--@Table sys_notice-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="cover_image" jdbcType="VARCHAR" property="coverImage" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="INTEGER" property="createUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="INTEGER" property="updateUser" />
    <result column="views" jdbcType="INTEGER" property="views" />
    <result column="agree" jdbcType="INTEGER" property="agree" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    t.id, t.title, t.cover_image, t.content, t.url, t.`type`, t.`status`, t.is_delete, t.create_time, t.create_user,
    t.update_time, t.update_user, t.views, t.agree
  </sql>

  <!--获取公告列表-->
  <select id="findAll" resultType="com.mds.my.platform.lostandfound.project.system.domain.vo.NoticeVO">
    select <include refid="Base_Column_List"></include>,
    avatar,nick_name
    from sys_notice t
    left join sys_user su on su.id = t.create_user
    <where>
      <if test="type !=null and type !=''">
        and t.type = #{type}
      </if>
      <if test="title !=null and title !=''">
        and t.title like concat('%',#{title},'%')
      </if>
      <if test="endTime !=null and endTime !=''">
        and date_format(#{endTime},'%Y-%m-%d') >=  date_format(t.create_time,'%Y-%m-%d')
      </if>
      <if test="beginTime !=null and beginTime !=''">
        and date_format(t.create_time,'%Y-%m-%d') >= date_format(#{beginTime},'%Y-%m-%d')
      </if>
      and t.is_delete = 0
    </where>
    order by t.create_time desc
  </select>

  <!--获取轮播-->
  <select id="findLb" resultType="com.mds.my.platform.lostandfound.project.system.domain.entity.SysNotice">
    select <include refid="Base_Column_List"></include>
    from sys_notice t
    <where>
      <if test="type !=null">
        and t.type = #{type}
      </if>
      and t.is_delete = 0
    </where>
  </select>
</mapper>