<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mds.my.platform.lostandfound.project.system.mapper.SysUserInfoMapper">
  <resultMap id="BaseResultMap" type="com.mds.my.platform.lostandfound.project.system.domain.entity.SysUserInfo">
    <!--@mbg.generated-->
    <!--@Table sys_user_info-->
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="school" jdbcType="VARCHAR" property="school" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="qq" jdbcType="VARCHAR" property="qq" />
    <result column="weixin" jdbcType="VARCHAR" property="weixin" />
    <result column="dormitory" jdbcType="VARCHAR" property="dormitory" />
    <result column="introduce" jdbcType="VARCHAR" property="introduce" />
    <result column="last_login" jdbcType="TIMESTAMP" property="lastLogin" />
    <result column="last_reset" jdbcType="TIMESTAMP" property="lastReset" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    user_id, school, email, qq, weixin, dormitory, introduce
  </sql>
</mapper>